html, body {
  height: 98%;
  margin: 0;
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  font-size:10pt;
}

#viewport {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

header {
  height: fit-content;
  position: fixed;
}

.top-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

h1 {
  font-size: 16px;
  color: black;
  margin: 2px;
}

a:not(.savelink){
  text-decoration: none;
  color: black;
}

.update-time {
  margin-right: 5px;
  text-decoration-line: underline;
  text-decoration-color: silver;
  text-underline-offset: 2px;
}

.menu {
  background: #1e3de9;
  border-bottom: 3px solid #6174dd;
  line-height: 35px;
  font-size: 10pt;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  -o-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.menu ul li {
  list-style: none;
  margin:0;
  padding:0;
  font-size:12px;
  width: auto;
  height: 35px;
  line-height: 35px;
  text-align:center;
  font-weight:bold;
}

.menu ul a li {
  color: #FFFFFF;
  padding: 0 10px 0 10px;
  text-decoration: none;
}

.menu ul li:hover, .menu ul li a:hover {
  background:#4e0189;/*ホバー時の親メニューの背景色*/
  color:#fff;/*ホバー時の親メニューの文字色*/
}

/* save header */
.savelink-container {
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.savelink-container .saveheadermsg {
  margin-left: 1px;
  margin-right: 1px;
  text-shadow: 1px 1px 2px silver;
}

.savelink-container .savelink {
  font-size: 14px;
  margin-right: 10px;
}

/* assem css*/
.assem {
  margin: 5px;
}

.assem table {
  border-spacing: 0px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}

.assem th, .assem td {
  text-align: center;
  border: 2px solid;
  border-right: 0px;
  border-bottom: 0px;
}

.assem td.img-frame {
  width: 120px;
  min-width: 60px;
  height: 100px;
}

.assem img.item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.assem-result {
  display: flex;
  flex-direction: row;
}

.warning-messages {
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  display: flex;
  align-items: center;
}

.assem-result-container {
  width: 180px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c1ebd7;
  border-radius: 10px;
}

.assem-result-totalprice-header {
  font-size: 16px;
  color: #444;
  font-weight: bold;
}

.assem-result-totalprice {
  font-size: 24px;
  text-shadow: #ddd 1px 1px;
  font-weight: bold;
}

.assem .detail {
  font-size:12px;
  text-align: left;
}

.assem .saveform-container {
  margin-bottom: 5px;
}

.assem .savelink-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 479px) {
  .assem {
    margin: 1px;
  }
  .assem td.name-frame {
    width: 60px;
    max-width: 80px;
  }
  .assem td.name-frame a {
    font-size: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-wrap: break-word;
  }
  .assem td.detail-frame {
    width: 80px;
    max-width: 100px;
  }
  .assem td.detail-frame p {
    font-size: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-wrap: break-word;
  }
  .assem tbody tr, .assem input, .assem .price {
    font-size: 10px;
  }

  .warning-messages {
    font-size: 10px;
    margin: 3px;
  }
  .assem-result-container {
    width: 100px;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
  }
  .assem-result-totalprice-header {
    font-size: 10px;
  }
  .assem-result-totalprice {
    font-size: 16px;
  }
}

@media screen and (max-width: 399px) {
  .assem td.detail-frame {
    width: 80px;
    max-width: 80px;
  }
}

/*
.assem .top {
  border-left: none;
  border-bottom: none;
}
*/
.assem .middle {
  display: none;
}
.assem .bottom {
  display: none;
}

/* restored css */
.restored {
  margin: 5px;
}

.restored .tweet-container {
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.restored .tweet-container .tweetnavi {
  margin-left: 2px;
  text-shadow: 1px 1px 2px silver;
}

.restored table {
  border-spacing: 0px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}

.restored th, .restored td {
  text-align: center;
  border: 2px solid;
  border-right: 0px;
  border-bottom: 0px;
}

.restored td.img-frame {
  width: 120px;
  min-width: 60px;
  height: 100px;
}

.restored img.item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.restored-result {
  display: flex;
}

.restored-result-container {
  width: 380px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restored-result-totalprice-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #c1ebd7;
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.restored-result-totalprice-header {
  font-size: 16px;
  color: #444;
  font-weight: bold;
}

.restored-result-totalprice {
  font-size: 24px;
  text-shadow: #ddd 1px 1px;
  font-weight: bold;
}

#new-warn, #old-warn {
  font-size: 10px;
}

@media screen and (max-width: 479px) {
  .restored {
    margin: 1px;
  }
  .restored td.name-frame {
    width: 60px;
    max-width: 80px;
  }
  .restored td.name-frame a {
    font-size: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-wrap: break-word;
  }
  .restored td.detail-frame {
    width: 80px;
    max-width: 100px;
  }
  .restored td.detail-frame p {
    font-size: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-wrap: break-word;
  }
  .restored tbody tr, .restored input, .restored .price {
    font-size: 10px;
  }

  .restored-result-container {
    width: 320px;
    margin-bottom: 3px;
  }
  .restored-result-totalprice-area {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
  }
  .restored-result-totalprice-header {
    font-size: 10px;
  }
  .restored-result-totalprice {
    font-size: 16px;
  }
}

/* items css */
.items {
  margin: 5px;
}

.items table {
  border-spacing: 0px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.items th, .items td {
  text-align: center;
  border: 2px solid;
  border-right: 0px;
  border-bottom: 0px;
}

.items td.img-frame {
  width: 120px;
  min-width: 60px;
  height: 100px;
}

.items img.item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.items .detail {
  font-size:12px;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .items {
    margin: 1px;
  }
  .items td.name-frame {
    width: 60px;
    max-width: 80px;
  }
  .items td.name-frame a {
    font-size: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-wrap: break-word;
  }
  .items td.detail-frame {
    width: 100px;
    max-width: 120px;
  }
  .items td.detail-frame p {
    font-size: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow-wrap: break-word;
  }
  .items input, .items .price {
    font-size: 10px;
  }
}

.items-sort {
  margin: 5px;
}

/* hidden is high priority */
.hidden {
  display: none;
}

.zero {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.clickable {
  cursor: pointer;
}

.clickable > span {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.red {
  color: red
}
.blue {
  color: blue
}