<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <title>自作PC構成・総額シミュレーション</title>
    <meta name="description" content="自作PC用のパーツ構成、総額シミュレーションツール。PCケース、マザーボード、CPU、メモリ、グラボ、ストレージ、その他パーツ、周辺機器の一覧から選択するだけでシミュレートします。価格.comの最安値を参照しています。">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta property="og:site_name" content="自作PC構成・総額シミュレーション">
    <meta property="og:title" content="自作PC構成・総額シミュレーション">
    <meta property="og:description" content="自作PC用のパーツ一覧から選択して構成するツール。各パーツの値段と構成時の合計価格をシミュレートします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.pcbuilding.link">
    <!--
    <meta property="og:image" content="http://.....img/sns/thumbnail.png">
    -->

    <!-- twitter -->
    <!--
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@boooo00n">
    <meta name="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta name="twitter:image" content="http://.....img/sns/thumbnail.png">
    <link rel="icon" href="img/favicon/favicon.ico">
    -->

<!-- for debug -->
    <link rel="stylesheet" href="../static/styles.css">

    <link rel="stylesheet" th:href="@{/styles.css?20220522}" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HFLGCCXTJG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HFLGCCXTJG');
    </script>
  </head>

  <body th:data-scroll="${bodyScrollPx}"
        th:data-guestId="${guestId}">

    <script type="text/javascript" th:inline="javascript">

      var guestId = localStorage.getItem('guestid');
      if(guestId === null || guestId.length != 32) {
        guestId = generateUuid().replaceAll('-', '');
        localStorage.setItem('guestid', guestId);
        console.log('Save guestId ' + guestId);
      }

      // var link = window.location.href;
      // var url = new URL(link);
      // if (!url.searchParams.get('guestId')) {
      //   url.searchParams.append('guestId', guestId);
      //   location.href = url;
      //   console.log('guestId ' + guestId);
      // }

      // 登録（submit）した際に、ページが上に移動するのを防ぐために、何pxスクロールしたかを求めるjavascriptです。
      window.onscroll = function() {
        var body = window.document.body;
        var html = window.document.documentElement;
        var scrollTop = body.scrollTop || html.scrollTop;
        const elms = document.querySelectorAll('.get_body_scroll_px');
        elms.forEach(e => {
          e.value = scrollTop; // id="get_body_scroll_px"のvalueに自動的にスクロールが何pxか表示されるよう指定しています
        });
      }

      window.onload = function() {
        const body = window.document.body;
        scrollTo(0, body.getAttribute('data-scroll'));
        
        const gids = document.querySelectorAll('.gid');
        gids.forEach(gid => {
          gid.value = guestId;
        })

        const structure = document.getElementById('structure');
        structure.href += '?guestId=' + guestId;

        var link = window.location.href
        console.log(link);
        if (link == 'http://localhost/' || link == 'http://pcbuilding.link/'
                || link == 'https://localhost/' || link == 'https://www.pcbuilding.link/') {
          var url = new URL(link);
          url.searchParams.append('guestId', guestId);
          location.href = url; // redirect
        }
        checkedTotal();
      }


      function generateUuid() {
        // https://github.com/GoogleChrome/chrome-platform-analytics/blob/master/src/internal/identifier.js
        // const FORMAT: string = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx";
        let chars = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".split("");
        for (let i = 0, len = chars.length; i < len; i++) {
            switch (chars[i]) {
                case "x":
                    chars[i] = Math.floor(Math.random() * 16).toString(16);
                    break;
                case "y":
                    chars[i] = (Math.floor(Math.random() * 4) + 8).toString(16);
                    break;
            }
        }
        return chars.join("");
      }

    </script>

    <div id="viewport">
      <header id="header">
        <div class="top-info-container">
          <h1 class="top-title"><a href="/">自作PC構築支援</a></h1>
          <div class="update-time">
            update: <span th:text="${updateTime}">2022/01/01 12:59</span>
          </div>
        </div>

        <div class="menu">
          <ul>
            <a id="structure" href="/"><li>全体構成</li></a>
            <a href="/pccase"><li>PCケース</li></a>
            <a href="/motherboard"><li>マザーボード</li></a>
            <a href="/powersupply"><li>電源</li></a>
            <a href="/cpu"><li>CPU</li></a>
            <a href="/cpucooler"><li>CPUクーラー</li></a>
            <a href="/pcmemory"><li>メモリ</li></a>
            <a href="/storage"><li>ストレージ</li></a>
            <a href="/videocard"><li>グラフィックボード</li></a>
            <a href="/ossoft"><li>OS</li></a>
            <a href="/lcdmonitor"><li>ディスプレイ</li></a>
            <a href="/keyboard"><li>キーボード</li></a>
            <a href="/mouse"><li>マウス</li></a>
            <a href="/mediadrive"><li>メディアドライブ</li></a>
            <a href="/soundcard"><li>サウンドカード</li></a>
            <a href="/pcspeaker"><li>スピーカー</li></a>
            <a href="/fancontroller"><li>ファンコントローラー</li></a>
            <a href="/casefan"><li>ファン</li></a>
          </ul>
        </div>
      </header>

      <div id="contents">
        <script>
          function changeHeightHeader() {
            const contents = document.getElementById('contents');
            const header = document.getElementById('header');
            contents.style.paddingTop = header.clientHeight + 5 + 'px';
            console.log(header.clientHeight);
          }
          changeHeightHeader();
          window.addEventListener('resize', changeHeightHeader);
        </script>
        <div id="assem" class="assem" th:classappend="${assembliesDisplay}">
          <div class="assem-result">
            <div class="assem-result-container">
              <div class="assem-result-totalprice-area">
                <div class="assem-result-totalprice-header">
                  合計
                </div>
                <div id="totalprice" class="assem-result-totalprice" th:text="${totalPrice}">¥ 12,345</div>
              </div>
            </div>
            <div class="warning-messages">
              <div  th:classappend="${warnMsg1Visiblity}">※価格情報の無い商品が含まれています</div>
              <div id="warn">a<br>b<br>c<br></div>
            </div>
          </div>

          <table>
            <thead>
              <tr><th>部品名</th><th>選択</th><th>商品名</th><th>商品画像</th>
                <th>詳細</th><th width="106px">価格</th><th>削除</th></tr>
            </thead>
            <tbody id="assemtablebody">
              <tr th:each="assembly :${assembliesList}" th:class="${assembly.device}">
                <td class="clickable" th:rowspan="${assembly.rowspan}" th:classappend="${assembly.tablestyle}" th:onclick="|expandChange('__${assembly.device}__');|">
                  <div th:text="${assembly.device}"></div>
                  <span class="material-symbols-outlined">expand_less</span>
                </td>
                <td th:id="${assembly.id}" class="clickable" th:name="${assembly.device}" th:onclick="|radioChecked('__${assembly.id}__', '__${assembly.device}__');|">
                  <input type="radio" th:name="${assembly.device}" th:checked="${assembly.checked}"></td>
                <td><a th:href="${assembly.url}" th:text="${assembly.name}" target="_blank" rel="noopener noreferrer"></a></td>
                <td><img class="item-img" th:src="${assembly.imgurl}"></td>
                <td class="detail">
                  <th:block th:if="${assembly.detail}">
                    <th:block th:each="str, stat : ${assembly.detail.split('\r\n|\r|\n', -1)}">
                      <th:block th:text="${str}"/>
                      <br th:if="${!stat.last}"/>
                    </th:block>
                  </th:block>
                </td>
                <td th:text="${assembly.price}"></td>
                <td>
                  <form action="/del" name="submit_scroll"> <!-- action="/del" -->
                    <input name="guestId" class="gid" type="hidden"/>
                    <input name="id" type="hidden" th:value="${assembly.id}"/>
                    <input name="devType" type="hidden" th:value="${deviceTypeName}"/>
                    <input name="dev" type="hidden" th:value="${assembly.device}"/>
                    <input name="body_scroll_px" class="get_body_scroll_px" type="hidden" th:value="0"/>
                    <input type="submit" value="削除"/>
                  </form>
                </td>
                <td class="hidden flag1" th:text="${assembly.flag1}"></td>
                <td class="hidden flag2" th:text="${assembly.flag2}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <script>
          function radioChecked(assemId, device) {
            const checkedItem = document.getElementById(assemId);
            const radio = checkedItem.children.item(0); // input-tag type radio
            radio.checked = true;
            
            const deviceRows = document.getElementsByClassName(device);
            hiddenRowAll(deviceRows);
            //appearRow(checkedItem.parentNode);
            checkedTotal(); 
          }
          
          function expandChange(device) {
            const deviceRows = document.getElementsByClassName(device);
            const expandNow = deviceRows[0].children.item(0).children.item(1).textContent;
            if (expandNow == 'expand_more') {
              appearRowAll(deviceRows);
            } else if (expandNow == 'expand_less') {
              hiddenRowAll(deviceRows);
            }
          }

          function hiddenRowAll(rows) {
            for(let i=0; i<rows.length; i++) {
              const items = rows[i];
              if (items.children.item(1).children.item(0).checked) {
                console.log('checked ' + i);
                continue;
              }
              for(let j=0; j<items.children.length; j++) {
                if (i!=0 || j!=0) {
                  items.children.item(j).classList.add('zero');
                }
              }
            }
            expandChangeMore(rows);
          }

          // function appearRow(rows) {
          //   for(let j=0; j<rows.children.length; j++) {
          //     rows.children.item(j).classList.remove('zero');
          //   }
          // }

          function appearRowAll(rows) {
            for(let i=0; i<rows.length; i++) {
              const items = rows[i];
              console.log(items.children.length);
              for(let j=0; j<items.children.length; j++) {
                if (i!=0 || j!=0) {
                  items.children.item(j).classList.remove('zero');
                }
              }
            }
            expandChangeLess(rows);
          }
          
          function expandChangeMore(rows) {
            const expandSpan = rows[0].children.item(0).children.item(1); // tr:1行目 -> td:部品名 -> span:
            console.log(expandSpan);
            expandSpan.textContent = 'expand_more';
          }

          function expandChangeLess(rows) {
            const expandSpan = rows[0].children.item(0).children.item(1); // tr:1行目 -> td:部品名 -> span:
            console.log(expandSpan);
            expandSpan.textContent = 'expand_less';
          }

          function checkedTotal() {
            const assem = document.getElementById('assem');
            if(assem.className.includes('hidden')) return;

            const tableBody = document.getElementById('assemtablebody');
            console.log(tableBody);
            var totalPrice = 0;
            for(let i=0; i<tableBody.children.length; i++) {
              const devRows = tableBody.children.item(i); // tr
              const checkButtonElement = devRows.children.item(1).children.item(0); // td:選択 -> input:ラジオボタン
              if (checkButtonElement.checked) {
                const valueElement = devRows.children.item(5); // td:価格
                var value = valueElement.textContent;
                var val = parseInt(value.replaceAll('¥', '').replaceAll(' ', '').replaceAll(',', ''), 10);
                console.log(val);
                totalPrice += val;
              }
            }
            const totalPriceTxt = document.getElementById('totalprice');
            totalPriceTxt.textContent = '¥ ' + totalPrice.toLocaleString();

            determineConfigurableByFlag();
          }

          function determineConfigurableByFlag() {
            const tableBody = document.getElementById('assemtablebody');
            let flagObj = {};
            for(let i=0; i<tableBody.children.length; i++) {
              const devRows = tableBody.children.item(i);
              const partsName = devRows.className;
              const checkButtonElement = devRows.children.item(1).children.item(0); // td:選択 -> input:ラジオボタン
              if (checkButtonElement.checked) {
                const flag1 = devRows.children.item(7); // td:flag1
                const flag2 = devRows.children.item(8); // td:flag2
                flagObj[partsName] = {flag1: flag1.textContent, flag2: flag2.textContent};
              }
            }

            const warn = document.getElementById('warn');
            warn.innerText = "";
            const bit = 0b11111111;
            const topBit = 0b10000000;
            const caseFlag1 = parseInt(flagObj['PCケース']['flag1']);
            const psuFlag1 = parseInt(flagObj['電源']['flag1']);
            const motherFlag1 = parseInt(flagObj['マザーボード']['flag1']);
            const coolerFlag1 = parseInt(flagObj['CPUクーラー']['flag1']);
            const motherFlag2 = parseInt(flagObj['マザーボード']['flag2']);
            const cpuFlag2 = parseInt(flagObj['CPU']['flag2']);
            const memoryFlag2 = parseInt(flagObj['メモリ']['flag2']);

            // Case vs PSU
            let shift = 0;
            if (!isNaN(caseFlag1) && !isNaN(psuFlag1)) { // case and psu exist
              const casePowStandard = (caseFlag1 >>> shift) & bit;
              const psuPowStandard = (psuFlag1 >>> shift) & bit;
              if ((casePowStandard & topBit) != 0) { // built-in PSU case but psu exist
                warn.innerText += 'ケースに電源が内蔵されているのに電源が選択されています\n';
              } else if ((casePowStandard & psuPowStandard) == 0) {
                warn.innerText += 'ケースと電源の規格が一致していません\n';
              }
            }

            // Case vs Motherboard
            if (!isNaN(caseFlag1) && !isNaN(motherFlag1)) { // case and motherboard exist
              shift = 8;
              const caseFormStandard = (caseFlag1 >>> shift) & bit;
              const motherFormStandard = (motherFlag1 >>> shift) & bit;
              console.log(caseFormStandard & motherFormStandard);
              if ((caseFormStandard & motherFormStandard) == 0) {
                warn.innerText += 'ケースとマザーボードの規格が一致していません\n';
              }
            }

            // Case vs CPU Cooler
            if (!isNaN(caseFlag1) && !isNaN(coolerFlag1)) { // case and cooler exist
              shift = 24;
              const caseSize = (caseFlag1 >>> shift) & bit;
              let coolerSize = (coolerFlag1 >>> shift) & bit;
              if ((coolerSize & topBit) != 0) { // water-cooled radiator
                coolerSize &= ~topBit;
              }
              if ((coolerSize+1) >= caseSize) {
                warn.innerText += 'CPUクーラーがケースが収まらない可能性があります\n';
              }
            }

            // Motherboard vs CPU
            if (!isNaN(motherFlag2) && !isNaN(cpuFlag2)) { // motherboard and cpu exist
              // Intel
              shift = 0;
              let motherSocket = (motherFlag2 >>> shift) & bit;
              let cpuSocket = (cpuFlag2 >>> shift) & bit;
              if ((motherSocket & cpuSocket) == 0) {
                // AMD
                shift = 8;
                motherSocket = (motherFlag2 >>> shift) & bit;
                cpuSocket = (cpuFlag2 >>> shift) & bit;
                if ((motherSocket & cpuSocket) == 0) {
                  warn.innerText += 'マザーボードとCPUのソケットが一致していません\n';
                }
              }
            }

            // Motherboard vs Memory
            if (!isNaN(motherFlag2) && !isNaN(memoryFlag2)) { // motherboard and memory exist
              shift = 16;
              let isNotMatch = false;
              let motherType = (motherFlag2 >>> shift) & bit;
              let memoryType = (memoryFlag2 >>> shift) & bit;
              if ((motherType & topBit) != 0) { // mother S.O.DIMM ?
                if ((memoryType & topBit) != 0) { // memory S.O.DIMM ?
                  motherType &= ~topBit;
                  memoryType &= ~topBit;
                  if ((motherType & memoryType) == 0) {
                    isNotMatch = true;
                  }
                } else {
                  isNotMatch = true;
                }
              } else {
                if ((memoryType & topBit) == 0) { // memory not S.O.DIMM ?
                  if ((motherType & memoryType) == 0) {
                    isNotMatch = true;
                  }
                } else {
                  isNotMatch = true;
                }
              }
              if (isNotMatch) {
                warn.innerText += 'マザーボードとCPUのソケットが一致していません\n';
              }
            }
          }
        </script>

        <form method="get" action="/sort" name="submit_sort">
          <input name="guestId" class="gid" type="hidden"/>
          <input name="devType" type="hidden" th:value="${deviceTypeName}"/>
          <input name="body_scroll_px" class="get_body_scroll_px" type="hidden" th:value="0"/>
          <select class="items-sort" th:classappend="${deviceListDisplay}" name="sort" onchange="submit(this.form)">
            <option th:selected="${sortFlag == 0}" value="popular">人気順</option>
            <option th:selected="${sortFlag == 1}" value="lower">値段が安い順</option>
            <option th:selected="${sortFlag == 2}" value="higher">値段が高い順</option>
          </select>
        </form>

        <div class="items" th:classappend="${deviceListDisplay}">
          <table>
            <thead>
              <tr><th class="hidden">ID</th><th>商品名</th><th>商品画像</th>
                <th>詳細</th><th width="106px">価格</th><th>登録</th></tr>
            </thead>
            <tbody>
              <tr th:each="deviceInfo :${deviceInfoList}">
                <td><a th:href="${deviceInfo.url}" th:text="${deviceInfo.name}" target="_blank" rel="noopener noreferrer"></a></td>
                <td><img class="item-img" th:src="${deviceInfo.imgurl}"></td>
                <td class="detail">
                  <th:block th:if="${deviceInfo.detail}">
                    <th:block th:each="str, stat : ${deviceInfo.detail.split('\r\n|\r|\n', -1)}">
                      <th:block th:text="${str}"/>
                      <br th:if="${!stat.last}"/>
                    </th:block>
                  </th:block>
                </td>
                <td th:text="${deviceInfo.price}"></td>
                <td>
                  <form action="/add" name="submit_scroll"> <!-- action="/add" -->
                    <input name="guestId" class="gid" type="hidden"/>
                    <input name="id" type="hidden" th:value="${deviceInfo.id}"/>
                    <input name="devType" type="hidden" th:value="${deviceTypeName}"/>
                    <input name="dev" type="hidden" th:value="${deviceInfo.device}"/>
                    <input name="sortFlag" type="hidden" th:value="${sortFlag}"/>
                    <input name="body_scroll_px" class="get_body_scroll_px" type="hidden" th:value="0"/>
                    <input th:if="${!deviceInfo.registered}" type="submit" value="登録"/>
                    <input th:if="${deviceInfo.registered}" disabled type="submit" value="済"/>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>